In [3]:

def Remove(sets):
	sets.discard(20)
	return sets
	
# Driver Code
sets = set([10, 20, 26, 41, 54, 20])
Remove(sets)

{10, 26, 41, 54}

In [4]:
sets

{10, 26, 41, 54}

In [5]:
print(sets)

{41, 10, 54, 26}

In [6]:
sets

{10, 26, 41, 54}

In [6]:
###########session 4 :

x = str(input ("Enter string : "))
def inv(y):
    invy = y[::-1]
    print("the inverse is : ",invy)
    if y == invy:
        print("T")
inv(x)

Enter string : lal
the inverse is :  lal
T

In [3]:
def maxy(l):
    le = []
    for i in l:
        le.append(len(i))
        
    print(le)
    print(l[le.index(max(le))])

    
x =  int (input("how many strings you will enter : "))
lst = []
for i in range(x):
    l =  str (input(" enter the strings : "))
    lst.append(l)

#print(max(lst))
#print(min(lst))
maxy(lst)

how many strings you will enter : 3
 enter the strings : asd
 enter the strings : asdf
 enter the strings : asdfg
[3, 4, 5]
asdfg

In [12]:
word = "AMIT&-Learning!"
def checky(w):
    s =""
    illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?`~ "
    for i in w:
        if i in illegal_chars:
            s += ""
        else:
            s +=i
    print (s)
checky(word)

AMITLearning

In [2]:
t = (1,2,3,4)
try:
    t.index(5)
except:
    # except = if
    print("not found")
else:
    #if try true, else will be true
    print("t")

not found

In [3]:
t = (1,2,3,4)
try:
    print(t.index(1))
except:
    # except = if
    print("not found")
else:
    #if try true, else will be true
    print("t")

0
t

In [5]:
t = (1,2,3,4)
try:
    print(t.index(7))
except:
    # except = if the action you do if try = error
    print("not found")
else:
    #if try true, else will be true
    print("t")
finally:
    #finally will run everytime
    print("good")

not found
good

In [6]:
#def add(n1, n2):
#    return n1 + n2

In [8]:
add = lambda n1, n2: n1 + n2

In [9]:
add(10, 20)

30

In [10]:
#filter (function: lambda , seq)
my_list = [1,2,3,4,5,6,7,8,9,10]
new = list(filter (lambda x: (x%2 == 0), my_list))
print (new)

[2, 4, 6, 8, 10]

In [12]:
lst = [1,2,3,4]
#بيمشي بالعكس هيبدا ب for loop 
[i**i for i in lst]

[1, 4, 27, 256]

In [13]:
lst = [[1,2,3],[4,5,6],[7,8,9]]
for i in lst:
    for j in i:
        print (j)

1
2
3
4
5
6
7
8
9

In [14]:
order = lambda x, function1: x + function1(x)
print(order(2, lambda x: x*x))

6

In [18]:
f = open ("text.txt", 'w')

In [19]:
f.write ("My name is Noure Mohamed Fawzy and my age is 22y")

48

In [20]:
f. close()

In [21]:
f = open ("text.txt", "r")
f.read()

'My name is Noure Mohamed Fawzy and my age is 22y'

In [22]:
# to open and creat a new file 
f = open ("text2.txt", "a")

In [23]:
f.write ("that is a new file men no3 text created by useing \"a\" comman  ")

62

In [20]:
f. close()

In [3]:
f = open ("text2.txt", 'r')
f.read()

'that is a new file men no3 text created by useing "a" comman  '

In [4]:
#a بيكمل علي بقيت الكتابه القديمه
#w بيمسح و بيعمل من اول وجديد

In [17]:
f = open("task.txt","w")

In [5]:
with open ("task.txt","w", encoding = "utf-8") as f:
    f.write ("Q1: Write a Python program to read a file line by line and store it into alist\n")
    f.write ("Q2: line 2\n")
    f.write ("Q3: line 3\n")
    f.write ("Q4:line 4\n")
    f.close()

In [6]:
    with open ("task.txt","r", encoding = "utf-8") as f:
        lst =f.readlines()
        for i in range(len(lst)):
            lst[i]=lst[i].strip()
        print (lst)

['Q1: Write a Python program to read a file line by line and store it into alist', 'Q2: line 2', 'Q3: line 3', 'Q4:line 4']

In [29]:
x = "nour \n"
x

'nour \n'

In [30]:
# remove space in the end or in the start and remove \n , \t
x.strip()

'nour'

In [8]:
import test

In [9]:
test.add(1,2,3)

6

In [10]:
test.multp(1,2,3)

6

In [11]:
# shortcut test to t
import test as t
# * refer to all functions "the whole code" from the test without recall test
from test import *

In [16]:
import random as rd
# return all function in the module
dir(nd)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_inst',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [15]:
help (rd.random)

Help on built-in function random:

random() method of random.Random instance
    random() -> x in the interval [0, 1).

In [18]:
rd.random()

0.08826699454556575

In [23]:
# [i,j>i] for randam number
rd.randint(1,10)

6

In [24]:
# [i, j>i[ for randam number

rd.randrange(1,10)

2

In [27]:
rd.choice(["Noure", "mohamed", "fawzy"])

'mohamed'

In [28]:
lst = [1,2,3,4,5,6,7,8,9]
rd.shuffle(lst)
lst

[5, 4, 6, 1, 8, 9, 2, 7, 3]

In [34]:
import test1 
test1.sub(1,2)

SyntaxError: invalid syntax (test1.py, line 8)

In [35]:
def f(x):
    if x == 1:
        return 1
    else:
        return x * f(x-1)
f(3)

6

### Ask the user to enter a command "add","sub","mult","div" and two  numbers to simulate a calculator. All of your functions are in a separate script calc.py Your main code is in main.py

In [1]:
import Calculator as calc

In [2]:
calc.add(1,2)

3

In [3]:
calc.sub(3,2)

1

## Bonus: ask the user if he would like to make another operation or not. if yes, do it all over again in the same run. only exit the program if he says 'stop

In [4]:
# -------> TASK SESSION
def calcu():
    x = str (input ("What is the operation you want to make \"sum, sub, mult, div\" : "))
    n1 = float (input ("frist Number : "))
    n2 = float (input ("second Number : "))
    if x == "sum":
        print( calc.add(n1, n2))
    elif x == "sub":
        print (calc.sub(n1, n2))
    elif x == "mult":
        print (calc.mult(n1, n2))
    elif x == "div":
        print (calc.div(n1, n2))
    
ask = True 
def again():
    while ask:
        y = str (input ("would like to make another operation \"yes or stop\" : "))
        if y == "stop":
            break
        else:
            calcu()
again()

would like to make another operation "yes or stop" : yes
What is the operation you want to make "sum, sub, mult, div" : mult
frist Number : 5
second Number : 6
30.0
would like to make another operation "yes or stop" : stop