In [1]:
x = 11
y = 12
x>y

False

In [2]:
x =20
y = 5
result = (x + True) / (4-y * False)
print(result)

5.25

In [4]:
g = 6.67 * 10**-11
M = 6.0 * 10**24
m = 7.34 * 10**22
r = 3.84 * 10**8
f = g*M*m/r**2
print(f)

1.9920979817708333e+20

In [7]:
x = float( input ("Enter your grad :"))
if x == 100:
    print("Ex")
elif x >= 90:
    print("V.G")
elif x >= 80 :
    print("Good")
else:
    print("LOSER")

Enter your grad :80
Good

In [9]:
list = [1,2,3,4,5,6]
list. append(10)
list

[1, 2, 3, 4, 5, 6, 10]

In [11]:
list.insert(0,10)
list

[10, 10, 1, 2, 3, 4, 5, 6, 10]

In [12]:
# to remove number from the list
list . pop(0)
list . pop(-1)
list . pop(1)
list

[10, 2, 3, 4, 5, 6]

In [13]:
# to replace number in list
list[0] = 1
list

[1, 2, 3, 4, 5, 6]

In [14]:
# to add number in the list
list. insert (-1, 7)
list

[1, 2, 3, 4, 5, 7, 6]

In [15]:
#list [start : end : step] defult[0:0:1]
list[::-1]

[6, 7, 5, 4, 3, 2, 1]

In [16]:
#to know the length of the list
len(list)

7

In [17]:
#to add list of numbers in the list
list. extend([[21,22,23]])
list

[1, 2, 3, 4, 5, 7, 6, [21, 22, 23]]

In [18]:
# to call number in list in list
list[-1][1]

22

In [19]:
list.remove(7)

In [23]:
# we use copy to can update in the new list without any change in the original list
list1 = list.copy()

In [24]:
list1

[1, 2, 3, 4, 5, 6, [21, 22, 23]]

In [28]:
del(list1)

NameError: name 'list1' is not defined

In [18]:
# take the numbers from the user and print
x1 = int( input("Enter the 1st number in the list: "))
x2 = int( input("Enter the 2ed number in the list: "))
x3 = int( input("Enter the 3rd number in the list: "))
x4 = int( input("Enter the 4st number in the list: "))
lst = []
lst.append(x1)
lst.append(x2)
lst.append(x3)
lst.append(x4)
lst

Enter the 1st number in the list: 2
Enter the 2ed number in the list: 2
Enter the 3rd number in the list: 3
Enter the 4st number in the list: 4

[2, 2, 3, 4]

In [19]:
lst.count(2)

2

In [8]:
#split string
name = "Noure Mohamed Fawzy"
# to split every single name : name.split()
#make name in list to can split every single name 
name = name.split()

In [9]:
#the split every single chart
list(name[0])

['N', 'o', 'u', 'r', 'e']

In [10]:
name

['Noure', 'Mohamed', 'Fawzy']

In [11]:
name[0][1].upper()

'O'

In [12]:
#list can contain multi types and can have updates
lst1= [1,2.3,"Noure"]

In [21]:
#Tuples: you cannot modify in item
# can have different data type: t = Tuple(1,2.3,'N')
# to changinr a tuple convert it to list
# join 2 tuple together : t1+t2 = t3
# multiply tuple: t*2
# tuple must have >1 element: t=(1,..)
t = (1,2,3,4)
type(t)

tuple

In [22]:
t.count(4)

1

In [25]:
lst = [1,2,3,4,5,5,5]
t = tuple(lst)
t

(1, 2, 3, 4, 5, 5, 5)

In [26]:
t.count(5)

3

In [27]:
t.index(2)

1

In [28]:
# to add number in tuple 
t + (4,)

(1, 2, 3, 4, 5, 5, 5, 4)

In [29]:
#Set{}: can obtain diffrents data types 
# can use add() , remove(), in ,  update(), extend()
s = {1,2,3,3,4}
s

{1, 2, 3, 4}

In [1]:
A = {1,2,3}
B = {3,4,5}
u= A.union (B)

In [2]:
i = A.intersection(B)
i

{3}

In [3]:
A.intersection_update(B)
A

{3}

In [5]:
# to check the elements in the set 
1 in B

False

In [6]:
A.add(4)
A

{3, 4}

In [7]:
# convert 
lst = [1,2,3,4,5,5,5,7,3,2,6,7,7,8]
set(lst)

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
# delete the number from the set 
lst.remove(5)
lst

[2, 3, 4, 5, 5, 7, 3, 2, 6, 7, 7, 8]

In [ ]:
'''
all can contain different data type
list [] ,index ,order ,changeable
tuple() ,index ,order ,unchangeable
set{} ,no index ,unorder bec set already sort the numbers ,changeable
dict{key: value,..} ,key ,order ,changeable
clear() copy() 

'''

In [46]:
d = {"k1":"value",
     "k2":[1,2,3,[2,3,4,5,["A","B","ABCD"]]]}
d["k2"][-1][-1]=d["k2"][-1][-1][-1][0:2]+ d["k2"][-1][-1][-1][-2].lower() + d["k2"][-1][-1][-1][-1]