In [12]:
#Task
d = {'k1':[1,2,{'k2':['this is tricky',{'ahmed':[1,2,['hello']]}]}]}

d['k1'][2]["k2"][-1]["ahmed"][-1][0].upper()

'HELLO'

In [20]:
# Session 3
# for loop:
# i take value not idex
lst = [1,2,3,4,5]
s = 'Noure'
for i in s:
    if i == 'o':
        print (i)

o

In [21]:
#range( start, end, step)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
# Even and Odd numbers
for i in range(1, 21):lst 
    if i %2 == 0:
        print(i ,  "Even")
    else:
        print(i, "odd")

1 odd
2 Even
3 odd
4 Even
5 odd
6 Even
7 odd
8 Even
9 odd
10 Even
11 odd
12 Even
13 odd
14 Even
15 odd
16 Even
17 odd
18 Even
19 odd
20 Even

In [29]:
lst = [1,2,3]
lst2 = []
for i in lst:
    lst2.append(i *2)
lst2

[2, 4, 6]

In [36]:
# while loop: to itreate over a condition as long it's true
i = 0
while i <=20:
    print (i)
    i = i +1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [37]:
# continue: wil cut the loop and start the next iteration
lst = [1,2,3,4,5]
for i  in lst:
    if i == 3:
        continue
    print (i)

1
2
4
5

In [38]:
# break: will cut the code and exit all iteration
lst = [1,2,3,4,5]
for i  in lst:
    if i == 3:
        break
    print (i)

1
2

In [39]:
# pass: skip that sentax for now 
lst = [1,2,3,4,5]
for i  in lst:
    if i == 3:
        pass
    print (i)

1
2
3
4
5

In [41]:
for i in range(1, 100):
    if i%3 == 0 and i%5 ==0:
        print("FizzBuzz")
    elif i%3 == 0:
        print("Fizz")
    elif i %5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [43]:
#word1 =  str( input("Enter word one"))
#word2 =  str( input("Enter word two"))
words =  str( input("Enter two words: "))
words = words.split()
if words[0][0] == words[1][0]:
    print ("True")
else:
    print("False")

Enter two words: Nour Nour
True

In [45]:
word1 =  str( input("Enter word one: "))
word2 =  str( input("Enter word two: "))
if word1[0] == word2[0]:
    print ("True")
else:
    print("False")

Enter word one: Nour
Enter word two: nour
False

In [49]:
# Functions: a block of code that is used more than once
'''def fun_name (arguments):
        statement
        return value
call the function by fun_name(argument)
''' 
def sum (x, y):
    return x+y
x= int(input ("Enter 1st number : "))
y= int(input ("Enter 2nd number : "))
sum(x,y)

Enter 1st number : 5
Enter 2nd number : 6

11

In [53]:
lst = [1,2,3,4,5]
def sum_list (l):
    sum_num = 0
    for i in l:
        sum_num +=i
    return sum_num
sum_list(lst)

15

In [56]:
def sum_list (l):
    sum_num = 0
    for i in l:
        sum_num +=i
    return sum_num
num_of_input = int (input ("Enter the number of input : "))
nums = []
for j in range (num_of_input):
    nums.append (int (input ("Enter your numbers : ")))
sum_list(nums)

Enter the number of input : 5
Enter your numbers : 1
Enter your numbers : 2
Enter your numbers : 3
Enter your numbers : 4
Enter your numbers : 5

15

In [57]:
def sum_list (*l):
    sum_num = 0
    for i in l:
        sum_num +=i
    return sum_num
sum_list(1,2,3,4,5)

15

In [58]:
#Global x
x = 'g'

def say():
    #local x
    x = 'l'
    print (x)
print(x)
say()
print(x)

g
l
g

In [59]:
#Global x
x = 'g'

def say():
    global x
    x = 'l'
    print (x)
print(x)
say()
print(x)

g
l
l

In [60]:
# nonlocal effect in the scpe before not like gloda 
#gloda effect in all code and all can see